# This config file outlines the pipeline that will run when a PR has been opened.

version: 2.1

jobs:
  lint-and-test:
    docker:
      - image: cimg/python:3.13.5
    resource_class: small
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            make install
      - run:
          name: Linting
          command: |
            make lint
      - run:
          name: Testing
          command: |
            make test

  build-docker-image:
    docker:
      - image: cimg/base:2023.04
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build docker image
          command: docker build . -t usage-reporter:latest
      - run:
          name: Simple test image is functional
          command: docker run --rm usage-reporter -c "print(\"hello world\")"

workflows:
  testing:
    jobs:
      - lint-and-test
      - build-docker-image